@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom utility class to hide scrollbars across all browsers */
.scrollbar-hidden {
  -ms-overflow-style: none;      /* IE and Edge */
  scrollbar-width: none;         /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
/* Hide scrollbar while still allowing scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

